root = true

[*]
end_of_line = CRLF
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

[*.{json,yaml,yml,xml}]
indent_size = 2

[*.cs]
indent_size = 4
csharp_style_namespace_declarations = file_scoped

[*.py]
indent_size = 4
